/*Variable*/

@baseColor: #FF0000;
@logoSize: 1.25em;


/* ======================
        
        GLOBAL STYLE

====================== */

img {
	max-width: 100%;
	height: auto;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6em;
}

h1,
h2,
h3 {
	font-family: 'PT Serif', serif;
	margin-top: 0;
}

header {
	display: grid;
}

article {
	padding: 35px 2% 0 2%;
}

aside {
	padding: 35px 2%;
}

footer p {
	text-align: center;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 2%;
}

#navbar li a:hover {
	color: @baseColor;
}

#masthead {
	border-bottom: 2px black solid;
}

#footer-outer {
	border-top: 2px black solid;
}

#registration {
	display: block;
	padding: 10px;
}

#honeypot {
	display: none;
}

#mysubmit {
	clear: both;
	display: block;
}

#asidepadding {
	padding-left: 50px;
}

/* Navigation style */

#company-logo {
	z-index: 2;
	position: absolute;
	top: 20px;
	color: @baseColor;
	font-size: @logoSize;
	font-family: 'PT Serif', serif;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
	align-content: center;
}

nav {
	z-index: 1;
}

/* Font Awesome Icons */

.svg-inline--fa {
	font-size: 3em;
	margin-right: 10px;
}

.fa-search {
	font-size: 1.35em;
	padding-left: 3px;
	margin-top: -1px;
}

#social-icons {
	justify-self: center;
}

#social-icons a {
	color: grey;
}

#social-icons a:hover {
	color: #FF0000;
	text-decoration: none;
}

/* Slideshow */

#slideshow {
	margin: 50px auto;
	position: relative;
	width: 300px;
	height: 300px;
	padding: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
}

/* Weather */

#weather {
	margin: 50px auto;
	position: relative;
	width: 300px;
	height: 400px;
	padding: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}



/* ======================

    RESPONSIVE STYLE

========================*/


/* Desktop and Tablet Range */

@media (min-width: 600px) {
	main {
		display: grid;
		grid-template-columns: 50% 50%;
	}

	article,
	aside {
		padding: 15px 2%;
	}

	header {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"logo icons"
			"menu menu";
	}

	#company-logo {
		grid-area: logo;
	}

	nav {
		grid-area: menu;
	}

	#social-icons {
		justify-self: end;
		grid-area: icons;
	}
}